<div class="grid__item large--one-fifth medium--one-fifth collection-collage__item text-center" {{ block.shopify_attributes }}>
  <a href="/collections/board-room" class="collection-grid__item-link collection-collage__item-wrapper">

        <noscript>
          <div class="collection-grid__item-overlay grid__image grid__image--responsive{% if block.settings.collection != blank %}--{{ block.id }}{% endif %}" style="background-image: url('{{ collection_image | img_url: image_size }})"></div>
        </noscript>
        <div class="collection-grid__item-overlay grid__image lazyload"
          style="background-image: url({{ 'boardroom-front.jpg' | asset_url }});"
          
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
    	<div class="collection-grid__item-title--wrapper">
          <span class="collection-grid__item-title">
            Board room
          </span>
        </div>

  </a>
</div>
<!-- 2 -->
<div class="grid__item large--one-fifth medium--one-fifth collection-collage__item text-center" {{ block.shopify_attributes }}>
  <a href="/collections/business-casual" class="collection-grid__item-link collection-collage__item-wrapper">

        <noscript>
          <div class="collection-grid__item-overlay grid__image grid__image--responsive{% if block.settings.collection != blank %}--{{ block.id }}{% endif %}" style="background-image: url('{{ collection_image | img_url: image_size }})"></div>
        </noscript>
        <div class="collection-grid__item-overlay grid__image lazyload"
          style="background-image: url({{ 'bizz-casual-front.jpg' | asset_url }});"
          
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
    	<div class="collection-grid__item-title--wrapper">
          <span class="collection-grid__item-title">
            Business casual
          </span>
        </div>

  </a>
</div>

<!-- 3 -->
<div class="grid__item large--one-fifth medium--one-fifth collection-collage__item text-center" {{ block.shopify_attributes }}>
  <a href="/collections/casual-collection" class="collection-grid__item-link collection-collage__item-wrapper">

        <noscript>
          <div class="collection-grid__item-overlay grid__image grid__image--responsive{% if block.settings.collection != blank %}--{{ block.id }}{% endif %}" style="background-image: url('{{ collection_image | img_url: image_size }})"></div>
        </noscript>
        <div class="collection-grid__item-overlay grid__image lazyload"
          style="background-image: url({{ 'casual-front-1.jpg' | asset_url }});"
          
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
    	<div class="collection-grid__item-title--wrapper">
          <span class="collection-grid__item-title">
            Casuals
          </span>
        </div>

  </a>
</div>

<!-- 4 -->
<div class="grid__item large--one-fifth medium--one-fifth collection-collage__item text-center" {{ block.shopify_attributes }}>
  <a href="/collections/fusion" class="collection-grid__item-link collection-collage__item-wrapper">

        <noscript>
          <div class="collection-grid__item-overlay grid__image grid__image--responsive{% if block.settings.collection != blank %}--{{ block.id }}{% endif %}" style="background-image: url('{{ collection_image | img_url: image_size }})"></div>
        </noscript>
        <div class="collection-grid__item-overlay grid__image lazyload"
          style="background-image: url({{ 'fusion-front.jpg' | asset_url }});"
          
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
    	<div class="collection-grid__item-title--wrapper">
          <span class="collection-grid__item-title">
            Fusion
          </span>
        </div>

  </a>
</div>

<!-- 4 -->
<div class="grid__item large--one-fifth medium--one-fifth collection-collage__item text-center" {{ block.shopify_attributes }}>
  <a href="/collections/basics" class="collection-grid__item-link collection-collage__item-wrapper">

        <noscript>
          <div class="collection-grid__item-overlay grid__image grid__image--responsive{% if block.settings.collection != blank %}--{{ block.id }}{% endif %}" style="background-image: url('{{ collection_image | img_url: image_size }})"></div>
        </noscript>
        <div class="collection-grid__item-overlay grid__image lazyload"
          style="background-image: url({{ 'basics-front.jpg' | asset_url }});"
          
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
    	<div class="collection-grid__item-title--wrapper">
          <span class="collection-grid__item-title">
            Basics
          </span>
        </div>

  </a>
</div>