{% schema %}
{
  "name": "StyleQuiz",
  "class": "sq",
  "tag": "section",
  "settings": [
    {
      "id": "style_quiz_message",
      "type": "text",
      "label": "Style Quiz Message",
      "default": "Take part in our style quiz to get more customized feed"
    },
    {
      "id": "form_personal_info_title",
      "type": "text",
      "label": "Pesonal Info Form Title",
      "default": "Personal Info"
    },
    {
      "id": "form_body_type_title",
      "type": "text",
      "label": "Body Type Form Title",
      "default": "Body Type"
    },
    {
      "id": "straight_img_url",
      "type": "text",
      "label": "Straight image url",
      "default": "https://picsum.photos/200/300"
    },
    {
      "id": "pear_img_url",
      "type": "text",
      "label": "Pear image url",
      "default": "https://picsum.photos/200/300"
    },
    {
      "id": "hourglass_img_url",
      "type": "text",
      "label": "Hourglass image url",
      "default": "https://picsum.photos/200/300"
    },
    {
      "id": "heart_img_url",
      "type": "text",
      "label": "Heart image url",
      "default": "https://picsum.photos/200/300"
    },
    {
      "id": "oval_img_url",
      "type": "text",
      "label": "Oval image url",
      "default": "https://picsum.photos/200/300"
    }
  ],
  "presets": [
    {
      "name": "Style Quiz",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .sq-flex {
    display: flex;
  }

  .sq-between {
    justify-content: space-between;
  }

  .sq-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }

  .sq-container .sq-form-container {
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
  }

  @media screen and (min-width: 600px) {
    .sq-container .sq-form-container {
      width: 50%;
    }
  }

  .sq-form-title {
    padding: 8px;
  }

  .sq .fields {
    display: flex;
    width: 50%;
    align-items: baseline;
    margin: 8px;
  }

  .sq .fields label {
    margin-right: 8px;
    min-width: 25%;
  }

  .sq-submit {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
  }

  .sq-submit button {
    border: 1px solid #000;
    padding: 0.25em 1em;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .sq-close-popup {
    display: flex;
    justify-content: flex-end;
  }

  .sq-close-button {
    cursor: pointer;
  }

  .sq .close {
    display: none !important;
  }

  .sq .form-error-message {
    color: red;
  }

  .sq-image-body-type {
    margin: 8px;
  }

  .sq-bt-label {
    margin: 0 8px;
  }
{% endstylesheet %}
{% if section.settings.style_quiz_message != blank %}
  <div class="sq-container">
    <div class="sq-form-container">
      <div class="sq-close-popup">
        {{ 'close.svg' | asset_url | img_tag: 'close button', 'sq-close-button' }}
      </div>
      <form id="personal-info">
        <h3 class="sq-form-title">{{ section.settings.form_personal_info_title }}</h3>
        <div class="sq-flex sq-between">
          <div class="sq-personal-fields fields">
            <label for="sq-name">Name</label>
            <input id="sq-name" name="name" type="text" required />
          </div>
          <div class="sq-personal-fields fields">
            <label for="sq-age">Age</label>
            <input id="sq-age" name="age" type="number" required />
          </div>
        </div>
        <div class="sq-flex sq-between">
          <div class="sq-personal-fields fields">
            <label for="sq-height">Height (ft)</label>
            <input id="sq-height" name="height" type="number" required />
          </div>
          <div class="sq-personal-fields fields">
            <label for="sq-contact">Contact</label>
            <input id="sq-contact" name="contact" type="text" required />
          </div>
        </div>
        <div class="sq-flex sq-between">
          <div class="sq-personal-fields fields">
            <label for="sq-email">Email</label>
            <input id="sq-email" name="email" type="email" required />
          </div>
          <div class="sq-personal-fields fields">
            <label for="sq-city">City</label>
            <input id="sq-city" name="city" type="text" required />
          </div>
        </div>
        <div class="sq-flex sq-between">
          <div class="sq-personal-fields fields">
            <label for="sq-office-address">Office Address</label>
            <input id="sq-office-address" name="officeAddress" type="text" required />
          </div>
          <div class="sq-personal-fields fields">
            <label for="sq-designation">Designation</label>
            <input id="sq-designation" name="designation" type="text" required />
          </div>
        </div>
        <div class="sq-submit">
          <button type=submit>Next</button>
        </div>
      </form>
      <form id="body-type">
        <h3 class="sq-form-title">{{ section.settings.form_body_type_title }}</h3>
        <div class="sq-flex sq-between">
          <div>
            <div class="sq-image-body-type" for="sq-straight">
              <img src="{{ section.settings.straight_img_url }}"/>
            </div>
            <label for="sq-straight" class="sq-bt-label">Straight</label>
            <input type="radio" name="bodyType" value="straight" id="sq-straight" />
          </div>
          <div>
            <div class="sq-image-body-type" for="sq-pear">
              <img src="{{ section.settings.pear_img_url }}"/>
            </div>
            <label for="sq-pear" class="sq-bt-label">Pear</label>
            <input type="radio" name="bodyType" value="pear" id="sq-pear" />
          </div>
          <div>
            <div class="sq-image-body-type" for="sq-hourglass">
              <img src="{{ section.settings.hourglass_img_url }}"/>
            </div>
            <label for="sq-hourglass" class="sq-bt-label">Hour Glass</label>
            <input type="radio" name="bodyType" value="hourglass" id="sq-hourglass" />
          </div>
        </div>
        <div class="sq-flex sq-between">
          <div>
            <div class="sq-image-body-type" for="sq-heart">
              <img src="{{ section.settings.heart_img_url }}"/>
            </div>
            <label for="sq-heart" class="sq-bt-label">Heart</label>
            <input type="radio" name="bodyType" value="heart" id="sq-heart" />
          </div>
          <div>
            <div class="sq-image-body-type" for="sq-oval">
              <img src="{{ section.settings.oval_img_url }}"/>
            </div>
            <label for="sq-oval" class="sq-bt-label">Oval</label>
            <input type="radio" name="bodyType" value="oval" id="sq-oval" />
          </div>
        </div>
        <div class="sq-submit">
          <button type=submit>Next</button>
        </div>
      </form>
      <div>
        <p class="form-error-message close"></p>
      </div>
    </div>
  </div>
{% endif %}
<!-- <div class="style-quiz-container">
	<img class="style-img" src="https://picsum.photos/2000/300" />
</div>
<div class="style-modal-container">
</div> -->
{% javascript %}
  let result
  document.addEventListener('DOMContentLoaded', loadStyleQuizSection)

  function loadStyleQuizSection() {
    result = {}
    resetForms()
    const personalInfoForm = document.querySelector('#personal-info')
    personalInfoForm.addEventListener('submit', personalInfoFormSubmit)
    const bodyTypeForm = document.querySelector('#body-type')
    bodyTypeForm.addEventListener('submit', bodyTypeFormSubmit)
  }

  function resetForms() {
    clearFormErrors()
    openForm('#personal-info')
    closeForm('#body-type')
  }

  function clearFormErrors() {
    const error = document.querySelector('.form-error-message')
    error.innerText = ''
    error.classList.add('close')
  }

  function setFormErrors(error) {
    const errorElement = document.querySelector('.form-error-message')
    errorElement.innerText = error
    errorElement.classList.remove('close')
  }
  
  function personalInfoFormSubmit(e) {
    e.preventDefault()
    clearFormErrors()
    const fields = [
      {
        id: 'sq-name',
        type: 'text',
        name: 'name'
      },
      {
        id: 'sq-age',
        type: 'number',
        name: 'age'
      },
      {
        id: 'sq-height',
        type: 'number',
        name: 'height'
      },
      {
        id: 'sq-contact',
        type: 'phone',
        name: 'contact'
      },
      {
        id: 'sq-email',
        type: 'email',
        name: 'email'
      },
      {
        id: 'sq-city',
        type: 'text',
        name: 'city'
      },
      {
        id: 'sq-office-address',
        type: 'text',
        name: 'officeAddress'
      },
      {
        id: 'sq-designation',
        type: 'text',
        name: 'designation'
      }
    ]

    fields.forEach(function(field) {
      const inputField = document.querySelector(`#${field.id}`)
      let value = ''
      if (field.type === 'phone' || field.type === 'number') {
        value = parseInt(inputField.value, 10)
      } else {
        value = inputField.value
      }
      
      const error = validateValues(value, field)

      if (error === '') {
        result[field.name] = value
        if (Object.keys(result).length === fields.length) {
          closeForm('#personal-info')
          openForm('#body-type')
        }
      } else {
        setFormErrors(error)
      }
    })

  }


  function validateValues(value, field = {}) {
    console.log('validate1: ', value, '\nfield: ', field)
    if (isNaN(value) && (field.type === 'phone' || field.type === 'number')) {
      return 'Value not entered or invalid format'
    } else if (field.type === 'number' && value < 1) {
      return 'Value can not be negative or zero'
    } else if (typeof value === 'string' && value === '') {
      return 'Kindly fill all the details'
    } else if (Array.isArray(value) && value.length === 0) {
      return 'Kindly fill all the details'
    } else if (typeof value === 'object' && value.constructor === Object && Object.keys(value).length === 0) {
      return 'Kindly fill all the details'
    } else if (field.type === 'phone' && (value < 6000000000 || value > 9999999999)) {
      return 'Invalid phone number'
    } else {
      return ''
    }
  }

  function closeForm(selector) {
    const element = document.querySelector(selector)
    element.classList.add('close')
  }

  function openForm(selector) {
    const element = document.querySelector(selector)
    element.classList.remove('close')
  }

  function bodyTypeFormSubmit(e) {
    e.preventDefault()
    clearFormErrors()
    const form = document.querySelector('#body-type')
    const data = new FormData(form)
    let value = {}
    for (const entry of data) {
      value[entry[0]] = entry[1]
    }
    const error = validateValues(value)
    if (error === '') {
      result = Object.assign({}, result, value)
      closeForm('#body-type')
    } else {
      setFormErrors(error)
    }
    console.log('event: ', e)
    console.log(e.target)
  }

{% endjavascript %}
