<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--one-whole">

<!--     <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header> -->

    <div class="grid">
	  <!--  Board room   -->
      <div class="grid__item large--one-whole medium--one-whole">
        <div class="grid__item large--one-half">
          <a href='/collections/boardroom'>
        	{{ 'board-room.jpeg' | asset_url | img_tag }}
          </a>
        </div>
        <div class="grid__item large--one-half">
          <a href='/collections/boardroom'> <h4>Boardroom</h4></a>
          <p>
          	The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
          </p>
        </div>
      </div>
      <!-- Busines casual -->
      <div class="grid__item large--one-whole medium--one-whole">
		
        <div class="grid__item large--one-half">
          <h4>Business casual</h4>
          <p>
          	The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
          </p>
        </div>
        <div class="grid__item large--one-half">
          <a href='/collections/business-casual'>
        	{{ 'bizz-casual.jpeg' | asset_url | img_tag }}
          </a>
        </div>
      </div>
      
      <!--  Casuals   -->
      <div class="grid__item large--one-whole medium--one-whole">
        <div class="grid__item large--one-half">
          <a href='/collections/casual-collection'>
        	{{ 'casuals.jpeg' | asset_url | img_tag }}
          </a>
        </div>
        <div class="grid__item large--one-half">
          <h4>Casuals</h4>
          <p>
          	The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
          </p>
        </div>
      </div>
      
      <!-- Busines casual -->
      <div class="grid__item large--one-whole medium--one-whole">
		
        <div class="grid__item large--one-half">
          <h4>Fusion</h4>
          <p>
          	The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
            The Boardroom Clothing Company is your premiere online destination for men's fashion and designer apparel.
          </p>
        </div>
        <div class="grid__item large--one-half">
          <a href='/collections/fusion'>
        	{{ 'test-wlu-1.jpg' | asset_url | img_tag }}
          </a>
        </div>
      </div>
      
    </div>

  </div>
</div>
